p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Font styling */

.large{
  font-size: 1.5em;
}

.extralarge{
  font-size: 2em;
}